<h1>Welcome hello {{title}}</h1>
<!-- <app-main-heading></app-main-heading> -->
<!-- <app-sub-heading [subHeadingText]="'Active users'"></app-sub-heading> property binding
<app-sub-heading [subHeadingText]="'InActive users'"></app-sub-heading> -->
 <app-my-paragraph [mainHeadingValue]="'User Info'" [subHeadingValue]="'Active Users1'" [Content]="'paragraph description'"></app-my-paragraph>
 <app-mydiv [row1Value]="'Row1Description'" [row2Value]="'Row2Description'" [row3Value]="'Row3Description'" [Contentd]="'div description'"></app-mydiv>
 <app-row1 [row1sub1Value]="'row1sub1 description'" [row1sub2Value]="'row1sub2 description'" ></app-row1> 