body{
    background-color: aqua;
}
.main{
    display:flex;
    background-color: gray;
    height:1000;
    flex-direction:column;
    align-items:start;
    justify-content:start;
    flex-wrap:nowrap;
    align-content: center;
    width:"100%"
}
.hmain{
    background-color: rgb(165, 204, 186);
    height:200px;
    width:100%;
    display:flex;
    justify-content: justify;
}
.mmain{
    height: 500px;
    width:100%;
    display:flex;
}
.fmain{
    background-color: rgb(142, 201, 183);
    height: 200px;
    width:100%;
    display:flex;
}
.lmain{
    background-color: rgb(235, 217, 235);
    height: 500px;
    width:25%;
    display:flex;
}
.cmain{
    background-color: rgb(152, 138, 161);
    height: 500px;
    width:75%;
    display:flex;

}
.iTable {
    background-color: rgb(132, 190, 224);
    font-size: medium;
    border:solid;
    border-style: double;
    width: 100%;
    margin-top:30px;
}
.iTable tr{
    height:45px;
}         
.iTable td
{
    text-align:center;
}           
input[type=submit]  {
    background-color: darkblue;
    width: 40%;
    color: white;
    font-weight: bold;
}
input{
    width:80%;
    height:30px;
}
input[type=checkbox] {
    width: 10%;
    height:20px;
}
.dcontent{
    justify-content: center;
    align-content: center;
    padding-top:100px;
}