body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    max-width: 1000px;
    gap: 30px;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

blockquote {
    padding-bottom:25%;
    float:right;
    width:40%
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin: 20px;
}

footer nav a {
    margin: 0 10px;
    color: blue;
    text-decoration: none;
}

aside ul {
    padding-left: 0;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li a {
    color: blue;
    text-decoration: none;
}
pre{
    font-family:'Times New Roman', Times, serif;
}